html, body {
  background-color: #fff;
}

html.dark, .dark body {
  background-color: #17191c;
}

#loading-bg {
  background: var(--initial-loader-bg, #fff);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.dark #loading-bg {
  background: var(--initial-loader-bg, #17191c);
}

.loading-logo {
  position: absolute;
  inset-block-start: calc(50% - 50px);
  inset-inline-start: calc(50% - 200px);
  z-index: 2;
}

.pre-loading {
  position: absolute;
  box-sizing: border-box;
  border: 3px solid transparent;
  block-size: 55px;
  border-radius: 50%;
  inline-size: 55px;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
}

.pre-loading .effect-1,
.pre-loading .effect-2,
.pre-loading .effect-3 {
  position: absolute;
  box-sizing: border-box;
  border: 3px solid transparent;
  block-size: 100%;
  border-inline-start: 3px solid var(--initial-loader-color, #0097bd);
  border-radius: 50%;
  inline-size: 100%;
}

.pre-loading .effect-1 {
  animation: rotate 1s ease infinite;
}

.pre-loading .effect-2 {
  animation: rotate-opacity 1s ease infinite 0.1s;
}

.pre-loading .effect-3 {
  animation: rotate-opacity 1s ease infinite 0.2s;
}

.pre-loading .effects {
  transition: all 0.3s ease;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1turn);
  }
}

@keyframes rotate-opacity {
  0% {
    opacity: 0.1;
    transform: rotate(0deg);
  }

  100% {
    opacity: 1;
    transform: rotate(1turn);
  }
}
